body {
    margin: 0;
    padding: 0;
}

.blue-sidebar {
    background-color: blue;
    height: 100%;
    width: 10vw;
}

.green-sidebar {
    background-color: green;
    height: 100%;
    width: 20vw;
}

.red-sidebar {
    background-color: red;
    height: 100%;
    width: 15vw;
}

.purple-sidebar {
    background-color: purple;
    width: 100%;
    padding: 0.5em;
}

.orange-sidebar {
    background-color: orange;
    width: 100%;
    padding: 0.5em;
}

.squishable-container {
    position: relative;
    transform-origin: 0 0;
    will-change: 'transform';
}

.squishable-container > div {
    position: absolute;
    top: 0;
    left: 0;
}
