body {
    margin: 0;
    padding: 0;
}

.blue-sidebar {
    background-color: blue;
    height: 100%;
    width: 10vw;
}

.green-sidebar {
    background-color: green;
    overflow-y: scroll;
    height: 100%;
    width: 20vw;
}

.red-sidebar {
    background-color: red;
    height: 100%;
    width: 15vw;
}

.purple-sidebar {
    background-color: purple;
    width: 100%;
    padding: 0.5em;
}

.orange-sidebar {
    background-color: orange;
    width: 100%;
    padding: 0.5em;
}

.right-sliding-content {
    width: 100vw;
}

.left-sliding-content {
    width: 100vw;
    float: right;
}

.sample-buttons {
    text-align: center;
}

.demo-nav {
    text-align: center;
}

.demo-nav .ember-power-select-trigger {
    display: inline-block;
    vertical-align: middle;
    width: 14em;
}
