<div class="cst-page-wrapper">

  <div class="cst-page-gap">
  {{#from-elsewhere name="cst-left" as |left|}}
    {{#liquid-bind left rules=leftRules growDuration=animationDuration growPixelsPerSecond=1 as |currentLeft|}}
      {{component currentLeft}}
    {{/liquid-bind}}
  {{/from-elsewhere}}
  </div>

  <div class="cst-page-main">
    {{yield}}
  </div>

  <div class="cst-page-gap">
  {{#from-elsewhere name="cst-right" as |right|}}
    {{#liquid-bind right rules=rightRules growDuration=animationDuration growPixelsPerSecond=1 as |currentRight|}}
      {{component currentRight}}
    {{/liquid-bind}}
  {{/from-elsewhere}}
  </div>
</div>